<html>
<head>
  <title>Victory!</title>
</head>
<body>
<h1>Happy (Late) Birthday!</h1>
<h3>Congratulations, You have defeated the shower!</h3>
<p>
  You're a super cool person, Wendy, and I'm extremely glad that you're my friend. Last year (and this summer) were awesome, with no small gratitude to your existence/presence :-). I hope that this coming year continues to be excellent, and that you enjoy the 19th year of your life.
</p>
<p>
  Thanks for putting up with my incessant apologizing (sorry) and my oddness (sorry).
</p>
<p>
Very sincerely,
</p>
<p>
Andy
</p>
</body>
</html>
